#Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

#URLS AMIGABLES
# Activar RewriteEngine

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z\-0-9]+)$ index.php
#la siguiente para que acepte la linea al final de la url
#RewriteRule ^([a-zA-Z\-0-9]+)/$ index.php [L]
RewriteRule ^([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)$ index.php [L]
#RewriteRule ^([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/$ index.php [L]
RewriteRule ^([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)$ index.php [L]
RewriteRule ^([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)$ index.php [L]
RewriteRule ^([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+)$ index.php [L]
